p {
	font-family: Arial;
	font-size: 12px;
}

p.title {
	font-size: 16px;
}

.panel {
	display: flex;
	flex-direction: column;
	background-color:lightgray;
	color:darkblue;
	font-family:Arial;
	font-weight:bold;
	letter-spacing: 2px;
	height: 218px;
	border-top: 1px solid darkblue;
}

.hf {
	font-size:12px;
	padding: 10px;
	border: 1px solid darkblue;
	border-top: none;
}

.r {
	font-style:italic;
	font-size:20px;
	padding: 10px;
	border-left: 1px solid darkblue;
	border-right: 1px solid darkblue;
	height: 50px;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.r.row {
	border-bottom: 1px solid darkblue;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size:14px;
}

.flexs {
	align-items: flex-start;
}

.screw {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	height: 18px;
	width: 18px;
	background-color: #999;
	border-radius: 50%;
	color: #444;
	font-size:30px;
	border: 1px solid black;
}

.b {
	border-radius: 50%;
	height:40px;
	width:40px;
	background-color: #777;
}

.d {
	height: 50px;
	width: 225px;
	background-color: white;
	padding: 0px;
	margin: 0px;
	border: 1px solid black;
}

.dx {
	height: 50px;
	width: 200px;
	background-color: white;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.dc {
	font-family: Courier New;
	font-weight:bold;
	background-color: #cfc;
	height: 50px;
	border: 0px;
}

.hole {
	height: 10px;
	width: 10px;
	background-color: #000;
	border-radius: 50%;
	display: inline-block;
}

.label {
	padding-top: 2;
}

.w2 {
	width:21px;
}

.w200 {
	width: 200px;
}

.w3 {
	width: 33%;;
}

.w4 {
	width:40px;
}

.lcd {
	background-color: #afa;
}

.blue {
	background-color: #36f;
}
